* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1,6rem;
  
}




@media only screen and (min-width: 480px) {

    header {
        background-color: aquamarine;
        font-size: 3rem;
        text-align: center;
        padding: 1.5rem;
    }
  

    .box {
        width: 90%;
        margin: 1rem auto;
    }

    .box p {
        font-size: 1.6rem;
    }

    .box img {

        width: 100%;
        height: auto;
        background-color: aquamarine;
        
    }

    footer {
        background-color: aquamarine;
        padding: 1.5rem;
    }
}


@media only screen and (min-width: 768px) {

  .box {
      width: 90%;
      margin: 1rem auto;
  }  

  .box img {
      display: inline-block;
      width: 30%;
      margin-right: 1.3rem;
  }

  .box > p {
      display: inline-block;
      width: 65%;
      vertical-align: top;
      margin-top: 1rem;
      font-size: 1.6rem;
      
  }
}


@media only screen and (min-width: 992px) {

    main {
        width: 90%;
        margin: 1rem auto;
    }

    .box {
        width: 33%;
        display: inline-block;
       
    }

    .box img {
        display: block;
        width: 95%;
    }
  

    .box p {
        width: 90%;
    }
}